In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from cleaning import *

%matplotlib inline

In [5]:
data = pd.read_pickle('../junyi_df.pickle')

In [12]:
data = drop_columns(data)

In [14]:
data = change_bool(data)

In [15]:
convert_dates(data, 'time_done')

In [19]:
#Choosing Date Range
data = select_dates(data, 'time_done', '1/1/2014', '2/1/2014')

In [47]:
data.head()

,user_id,topic_mode,suggested,review_mode,time_done,time_taken,correct,count_attempts,hint_used,count_hints,earned_proficiency,points_earned
68,38355,1,0,0,2014-01-17 03:07:31.028160,2,1,1,0,0,0,225
69,151341,0,0,0,2014-01-21 09:57:31.411600,10,1,1,0,0,0,7
80,47037,1,0,0,2014-01-18 07:53:42.467230,7,1,1,0,0,0,42
93,234664,1,0,0,2014-01-26 11:38:47.448070,16,0,1,1,1,0,0
155,27242,0,0,0,2014-01-04 05:29:19.370960,7,1,1,0,0,0,12

In [32]:
#Creating User Table
users = data[['user_id', 'count_hints']].groupby('user_id').sum()

In [35]:
user_table = pd.DataFrame(users)

In [37]:
user_table

12039

In [38]:
#Creating a More than 10 columns
total_usage = data['user_id'].value_counts().sort_index()

In [50]:
user_table['more_than_ten_activities'] = (total_usage > 10).astype(int)

In [41]:
user_table.head()

         count_hints  more_than_ten_activities
user_id
26                 0                     False
35                18                      True
39                 0                     False
46                 0                      True
50                 0                     False

In [ ]:
#Creating a More than 1 day column

In [43]:
user_time = data.groupby('user_id')
rng = (user_time['time_done'].max() - user_time['time_done'].min()).dt.days

In [51]:
user_table['active_more_than_1'] = (rng > 0).astype(int)

In [46]:
user_table.head()

         count_hints  more_than_ten_activities  active_more_than_1
user_id
26                 0                     False               False
35                18                      True                True
39                 0                     False               False
46                 0                      True               False
50                 0                     False               False

In [48]:
#Counting User attempts
user_attempts = data[['user_id', 'count_attempts']].groupby('user_id').sum()
user_table['sum_attempts'] = user_attempts

In [52]:
user_table.head()

,count_hints,more_than_ten_activities,active_more_than_1,sum_attempts
user_id,,,,
26,0,0,0,2
35,18,1,1,155
39,0,0,0,8
46,0,1,0,26
50,0,0,0,1

In [101]:
# Creating Target
target_data = pd.read_pickle('../junyi_df.pickle')
convert_dates(target_data, 'time_done')
target_data = select_dates(target_data, 'time_done', '2/2/2014', '2/9/2014')


# predictor = users['time_done']
# users_ids = users['time_done'].min() < cut_off
# target = predictor[users_ids].astype(int)

In [105]:
target_data.groupby('user_id')

TypeError: 'bool' object is not callable

In [118]:
sorted(list(set(target_data['user_id'])))

[52,
 260,
 327,
 414,
 536,
 797,
 1141,
 1190,
 1267,
 1295,
 1312,
 1378,
 1513,
 1652,
 1668,
 1703,
 1794,
 2274,
 2332,
 2416,
 2653,
 2672,
 2731,
 3079,
 3245,
 3320,
 3474,
 3510,
 3613,
 3703,
 4015,
 4178,
 4215,
 4427,
 4477,
 4485,
 4537,
 4554,
 4589,
 4668,
 4703,
 4709,
 4789,
 4869,
 5323,
 5406,
 5427,
 5669,
 5707,
 5802,
 5966,
 6004,
 6061,
 6821,
 6828,
 6885,
 7020,
 7049,
 7229,
 7238,
 7354,
 7533,
 8019,
 8198,
 8232,
 8488,
 8607,
 8906,
 8909,
 8979,
 8982,
 9103,
 9159,
 9207,
 9268,
 9323,
 9346,
 9426,
 9531,
 9655,
 9873,
 10172,
 10242,
 10274,
 10716,
 10823,
 11294,
 11366,
 11462,
 11474,
 11558,
 11658,
 11780,
 11791,
 12090,
 12141,
 12157,
 12273,
 12510,
 12515,
 12554,
 12671,
 12840,
 12905,
 13158,
 13566,
 13598,
 13656,
 13769,
 13802,
 13895,
 13964,
 14157,
 14225,
 14256,
 14282,
 14404,
 14617,
 14646,
 14756,
 15006,
 15034,
 15112,
 15502,
 15701,
 15899,
 16143,
 16248,
 16354,
 16358,
 16708,
 16712,
 16743,
 16925,
 17218,
 17306,
 17775,
 17861,
 17973,
 18255,
 18312,
 18643,
 18734,
 18742,
 18917,
 18999,
 19053,
 19603,
 19803,
 20263,
 20744,
 20847,
 21419,
 21607,
 21714,
 21727,
 21896,
 22202,
 22273,
 22314,
 22335,
 22591,
 22636,
 22694,
 22701,
 22768,
 22863,
 23229,
 23715,
 23906,
 24089,
 24094,
 24102,
 24126,
 24499,
 24717,
 24811,
 24875,
 24948,
 25007,
 25030,
 25185,
 25270,
 25415,
 25528,
 25705,
 25720,
 25739,
 25840,
 25847,
 26036,
 26049,
 26415,
 26491,
 26510,
 26536,
 26613,
 26630,
 26763,
 26841,
 26874,
 27132,
 27177,
 27242,
 27386,
 27706,
 27716,
 27899,
 27902,
 27946,
 28155,
 28199,
 28414,
 28500,
 28582,
 28603,
 28798,
 28905,
 29178,
 29748,
 29750,
 29848,
 29954,
 29985,
 30218,
 30297,
 30508,
 30667,
 30676,
 30967,
 30991,
 31019,
 31180,
 31285,
 31502,
 31923,
 32045,
 32299,
 32344,
 32790,
 33043,
 33216,
 33266,
 33574,
 33662,
 33687,
 33690,
 33815,
 33918,
 33920,
 34010,
 34144,
 34474,
 34517,
 34818,
 34832,
 34870,
 35125,
 35268,
 35520,
 35623,
 35667,
 35679,
 35962,
 36495,
 36501,
 36528,
 36907,
 37104,
 37227,
 37311,
 37545,
 37708,
 37835,
 38061,
 38064,
 38231,
 38297,
 38507,
 38630,
 38690,
 39040,
 39493,
 39515,
 39525,
 39530,
 39682,
 39779,
 39809,
 39894,
 40021,
 40454,
 40469,
 40495,
 40713,
 40763,
 40801,
 40877,
 40924,
 41047,
 41064,
 41084,
 41327,
 41365,
 41379,
 41392,
 41686,
 41834,
 41837,
 42232,
 42250,
 42281,
 42513,
 42925,
 43143,
 43166,
 43226,
 43380,
 43382,
 43399,
 43652,
 43700,
 43819,
 43887,
 43953,
 43954,
 43960,
 43975,
 44000,
 44270,
 44352,
 44649,
 44727,
 44831,
 44859,
 44990,
 45076,
 45209,
 45272,
 45417,
 45707,
 45730,
 45763,
 45814,
 45839,
 45954,
 45955,
 45976,
 46026,
 46302,
 46704,
 46791,
 47027,
 47091,
 47188,
 47240,
 47327,
 47349,
 47518,
 47732,
 47775,
 47887,
 48092,
 48366,
 48484,
 48648,
 48707,
 48717,
 48944,
 49077,
 49264,
 49382,
 50641,
 50665,
 50757,
 51239,
 51338,
 51481,
 51666,
 51694,
 51807,
 51864,
 51979,
 52097,
 52141,
 52160,
 52223,
 52600,
 52675,
 52736,
 52786,
 52834,
 53017,
 53025,
 53053,
 53193,
 53423,
 53528,
 53980,
 54050,
 54319,
 54338,
 54388,
 54417,
 54478,
 54627,
 54645,
 54849,
 55089,
 55410,
 55413,
 55462,
 55553,
 55584,
 55876,
 55887,
 55915,
 55936,
 56041,
 56215,
 56412,
 56423,
 57138,
 57151,
 57179,
 57516,
 57670,
 57725,
 57749,
 57811,
 57815,
 57869,
 57915,
 57926,
 58122,
 58214,
 58560,
 58564,
 58791,
 58887,
 58990,
 59071,
 59282,
 59295,
 59388,
 59407,
 59629,
 59831,
 59850,
 59954,
 59988,
 60086,
 60184,
 60222,
 60259,
 60594,
 60685,
 61496,
 61560,
 61762,
 61894,
 61964,
 61971,
 61973,
 62056,
 62094,
 62137,
 62158,
 62165,
 62430,
 62834,
 63076,
 63194,
 63479,
 64124,
 64484,
 64567,
 64628,
 64649,
 64683,
 64806,
 64825,
 64853,
 65006,
 65043,
 65080,
 65318,
 65359,
 65595,
 65647,
 65720,
 65744,
 65977,
 66108,
 66288,
 66892,
 66987,
 67031,
 67621,
 67726,
 67735,
 67848,
 67916,
 68127,
 68132,
 68162,
 68395,
 68741,
 69350,
 69605,
 69816,
 69884,
 70206,
 70212,
 70214,
 70253,
 70577,
 70695,
 70770,
 70878,
 71079,
 71081,
 71188,
 71219,
 71252,
 71318,
 71432,
 72012,
 72136,
 72289,
 72291,
 72313,
 72569,
 72939,
 73118,
 73277,
 73364,
 73366,
 73441,
 73535,
 73728,
 73938,
 73983,
 74081,
 74114,
 74117,
 74144,
 74183,
 74191,
 74224,
 74282,
 74657,
 74879,
 74958,
 75170,
 75643,
 75698,
 75705,
 75841,
 75848,
 75912,
 76005,
 76195,
 76229,
 76425,
 76551,
 76572,
 76903,
 77048,
 77075,
 77119,
 77371,
 77461,
 77618,
 77722,
 77735,
 78011,
 78029,
 78135,
 78170,
 78184,
 78205,
 78330,
 78498,
 78530,
 78611,
 78712,
 78767,
 78964,
 79053,
 79094,
 79399,
 79436,
 79492,
 79588,
 79664,
 79685,
 79727,
 79830,
 79865,
 80041,
 80164,
 80215,
 80378,
 80394,
 80812,
 80826,
 80841,
 80843,
 80863,
 80926,
 80941,
 81014,
 81055,
 81312,
 81322,
 81331,
 81452,
 81494,
 81624,
 81876,
 82078,
 82270,
 82276,
 82353,
 82369,
 82405,
 82503,
 82710,
 82773,
 82823,
 82892,
 83082,
 83500,
 83706,
 83914,
 84216,
 84390,
 84506,
 84695,
 84754,
 84760,
 84807,
 84828,
 85456,
 85537,
 85621,
 85668,
 85776,
 85966,
 86183,
 86198,
 86304,
 86373,
 86382,
 86632,
 86852,
 87068,
 87239,
 87396,
 87401,
 87427,
 87523,
 87574,
 87578,
 87675,
 87874,
 88014,
 88117,
 88357,
 88378,
 88554,
 88753,
 88769,
 88854,
 89044,
 89074,
 89296,
 89385,
 89523,
 89739,
 89854,
 89894,
 90025,
 90319,
 90404,
 90721,
 90799,
 90826,
 91032,
 91286,
 91441,
 91500,
 91635,
 91676,
 91872,
 91934,
 91999,
 92194,
 92692,
 92951,
 93059,
 93407,
 93464,
 93598,
 93643,
 93650,
 94049,
 94143,
 94181,
 94237,
 94263,
 94269,
 94381,
 94466,
 94591,
 94613,
 94753,
 94830,
 94960,
 94972,
 95002,
 95093,
 95144,
 95725,
 95739,
 95969,
 96014,
 96082,
 96158,
 96236,
 96291,
 96379,
 96475,
 96602,
 96628,
 96629,
 97045,
 97048,
 97185,
 97294,
 97331,
 97359,
 97659,
 97733,
 97779,
 97809,
 97992,
 98013,
 98041,
 98149,
 98162,
 98471,
 98716,
 98948,
 99021,
 99065,
 99177,
 99223,
 99262,
 99324,
 99397,
 99479,
 99703,
 100238,
 100373,
 100394,
 100599,
 100698,
 100727,
 100871,
 100899,
 101094,
 101360,
 102061,
 102242,
 102400,
 102444,
 102445,
 102473,
 102798,
 103077,
 103300,
 103638,
 103715,
 103716,
 103720,
 103839,
 103982,
 104006,
 104070,
 104436,
 104577,
 104589,
 104787,
 104980,
 105168,
 105198,
 105223,
 105280,
 105301,
 105620,
 105799,
 105903,
 105946,
 106162,
 106223,
 106250,
 106287,
 106400,
 106610,
 106634,
 106750,
 106807,
 107152,
 107431,
 107466,
 107856,
 107906,
 107958,
 108058,
 108144,
 108228,
 108580,
 108615,
 109228,
 109333,
 109343,
 109445,
 109540,
 109612,
 109668,
 109724,
 109773,
 110142,
 110347,
 110486,
 110554,
 110869,
 110943,
 111003,
 111016,
 111491,
 111659,
 112007,
 112051,
 112072,
 112085,
 112247,
 112315,
 112550,
 112823,
 112829,
 113021,
 113174,
 113227,
 113257,
 113508,
 113681,
 113693,
 113789,
 113965,
 113972,
 114020,
 114063,
 114285,
 114494,
 114550,
 114758,
 114764,
 114805,
 114851,
 115103,
 115389,
 115421,
 115444,
 115804,
 115877,
 115905,
 116147,
 116454,
 116464,
 116511,
 116846,
 116920,
 117162,
 117396,
 117433,
 117564,
 117830,
 117926,
 118396,
 118454,
 118485,
 118714,
 118721,
 119002,
 119042,
 119272,
 119565,
 119620,
 119650,
 120024,
 120272,
 120486,
 120521,
 120738,
 120768,
 120795,
 120811,
 120903,
 120918,
 121201,
 121713,
 121842,
 121927,
 121937,
 121966,
 122091,
 122212,
 122227,
 122240,
 122449,
 122479,
 122503,
 122596,
 122636,
 122982,
 123331,
 123514,
 123742,
 123757,
 123794,
 124052,
 124163,
 124349,
 124385,
 124429,
 124566,
 124688,
 124804,
 124833,
 124885,
 125031,
 125221,
 125441,
 125709,
 125889,
 126177,
 126185,
 126240,
 126373,
 126506,
 126555,
 126878,
 126961,
 127340,
 127434,
 127484,
 127668,
 127708,
 127742,
 127769,
 128092,
 128202,
 128361,
 129041,
 129413,
 129587,
 129828,
 129838,
 129918,
 129942,
 129985,
 130193,
 130603,
 130606,
 130607,
 130628,
 130761,
 130811,
 130894,
 131458,
 131534,
 131580,
 131648,
 131838,
 131879,
 131983,
 131986,
 132055,
 132252,
 132308,
 132339,
 132362,
 132437,
 132447,
 132495,
 133013,
 133093,
 ...]

In [120]:
list(user_table.index)

[26,
 35,
 39,
 46,
 50,
 52,
 53,
 85,
 100,
 109,
 147,
 167,
 213,
 264,
 281,
 289,
 319,
 347,
 350,
 356,
 382,
 434,
 466,
 528,
 533,
 538,
 560,
 608,
 650,
 667,
 675,
 676,
 722,
 723,
 793,
 797,
 825,
 856,
 878,
 906,
 907,
 940,
 1006,
 1010,
 1038,
 1046,
 1085,
 1086,
 1107,
 1114,
 1190,
 1197,
 1211,
 1255,
 1259,
 1267,
 1286,
 1312,
 1314,
 1334,
 1356,
 1368,
 1378,
 1380,
 1396,
 1402,
 1411,
 1420,
 1438,
 1456,
 1467,
 1513,
 1555,
 1583,
 1591,
 1625,
 1642,
 1652,
 1670,
 1673,
 1696,
 1697,
 1739,
 1740,
 1760,
 1769,
 1772,
 1794,
 1838,
 1842,
 1843,
 1855,
 1882,
 1922,
 1979,
 2012,
 2054,
 2068,
 2082,
 2094,
 2113,
 2163,
 2235,
 2328,
 2332,
 2346,
 2376,
 2387,
 2394,
 2403,
 2425,
 2443,
 2447,
 2457,
 2475,
 2480,
 2504,
 2518,
 2545,
 2635,
 2649,
 2653,
 2657,
 2686,
 2709,
 2713,
 2736,
 2744,
 2749,
 2819,
 2841,
 2860,
 2865,
 2877,
 2896,
 2925,
 2950,
 2962,
 2964,
 2968,
 2985,
 2988,
 3000,
 3011,
 3012,
 3043,
 3060,
 3078,
 3079,
 3105,
 3129,
 3166,
 3173,
 3189,
 3194,
 3267,
 3274,
 3314,
 3320,
 3327,
 3375,
 3394,
 3404,
 3414,
 3425,
 3429,
 3437,
 3443,
 3472,
 3539,
 3549,
 3565,
 3567,
 3600,
 3606,
 3613,
 3658,
 3680,
 3689,
 3702,
 3714,
 3718,
 3734,
 3736,
 3787,
 3789,
 3802,
 3804,
 3851,
 3859,
 3889,
 3906,
 3938,
 3970,
 4016,
 4035,
 4047,
 4094,
 4124,
 4138,
 4152,
 4168,
 4178,
 4228,
 4276,
 4287,
 4335,
 4409,
 4415,
 4420,
 4438,
 4485,
 4537,
 4574,
 4578,
 4597,
 4655,
 4676,
 4709,
 4713,
 4716,
 4728,
 4739,
 4753,
 4760,
 4777,
 4786,
 4789,
 4821,
 4867,
 4869,
 4923,
 4956,
 4983,
 5036,
 5042,
 5112,
 5164,
 5172,
 5187,
 5246,
 5269,
 5271,
 5284,
 5296,
 5335,
 5362,
 5387,
 5405,
 5430,
 5431,
 5461,
 5467,
 5485,
 5490,
 5509,
 5510,
 5518,
 5528,
 5573,
 5582,
 5592,
 5595,
 5600,
 5660,
 5662,
 5684,
 5689,
 5747,
 5752,
 5764,
 5766,
 5799,
 5819,
 5825,
 5859,
 5877,
 5879,
 5888,
 5938,
 5943,
 5955,
 6051,
 6055,
 6074,
 6102,
 6103,
 6122,
 6151,
 6183,
 6200,
 6207,
 6225,
 6271,
 6307,
 6331,
 6332,
 6382,
 6422,
 6446,
 6498,
 6516,
 6539,
 6549,
 6589,
 6615,
 6621,
 6627,
 6636,
 6662,
 6666,
 6687,
 6693,
 6765,
 6785,
 6786,
 6813,
 6818,
 6836,
 6869,
 6871,
 6885,
 6955,
 7018,
 7020,
 7049,
 7083,
 7096,
 7129,
 7151,
 7161,
 7221,
 7229,
 7258,
 7282,
 7313,
 7348,
 7352,
 7354,
 7358,
 7362,
 7391,
 7424,
 7432,
 7444,
 7469,
 7480,
 7487,
 7499,
 7505,
 7508,
 7565,
 7586,
 7610,
 7647,
 7695,
 7698,
 7734,
 7742,
 7751,
 7760,
 7767,
 7774,
 7801,
 7848,
 7874,
 7877,
 7959,
 7972,
 8054,
 8071,
 8081,
 8113,
 8130,
 8184,
 8199,
 8203,
 8255,
 8346,
 8353,
 8395,
 8445,
 8470,
 8481,
 8496,
 8510,
 8516,
 8522,
 8526,
 8528,
 8571,
 8619,
 8626,
 8628,
 8668,
 8688,
 8697,
 8718,
 8721,
 8790,
 8813,
 8843,
 8855,
 8889,
 8906,
 8924,
 8981,
 9025,
 9059,
 9061,
 9070,
 9095,
 9100,
 9110,
 9140,
 9147,
 9159,
 9170,
 9184,
 9204,
 9207,
 9218,
 9256,
 9258,
 9291,
 9322,
 9330,
 9339,
 9342,
 9384,
 9385,
 9413,
 9424,
 9426,
 9441,
 9465,
 9469,
 9470,
 9486,
 9507,
 9528,
 9544,
 9549,
 9615,
 9630,
 9642,
 9643,
 9646,
 9651,
 9655,
 9659,
 9683,
 9707,
 9715,
 9729,
 9741,
 9766,
 9803,
 9819,
 9861,
 9873,
 9910,
 9991,
 10040,
 10045,
 10057,
 10073,
 10081,
 10115,
 10117,
 10129,
 10138,
 10159,
 10172,
 10203,
 10212,
 10237,
 10242,
 10258,
 10263,
 10272,
 10274,
 10294,
 10313,
 10328,
 10329,
 10330,
 10413,
 10427,
 10447,
 10448,
 10466,
 10481,
 10504,
 10508,
 10514,
 10544,
 10549,
 10568,
 10610,
 10660,
 10705,
 10745,
 10767,
 10779,
 10780,
 10784,
 10823,
 10847,
 10853,
 10934,
 10945,
 10970,
 10990,
 11027,
 11048,
 11090,
 11107,
 11116,
 11150,
 11198,
 11202,
 11208,
 11236,
 11238,
 11246,
 11258,
 11288,
 11300,
 11306,
 11318,
 11323,
 11414,
 11511,
 11524,
 11535,
 11539,
 11558,
 11576,
 11578,
 11583,
 11593,
 11594,
 11611,
 11629,
 11654,
 11671,
 11744,
 11749,
 11768,
 11775,
 11780,
 11838,
 11839,
 11870,
 11875,
 11912,
 11982,
 12006,
 12044,
 12055,
 12061,
 12108,
 12109,
 12130,
 12140,
 12167,
 12280,
 12321,
 12353,
 12365,
 12473,
 12494,
 12534,
 12554,
 12555,
 12557,
 12583,
 12610,
 12630,
 12648,
 12660,
 12671,
 12672,
 12700,
 12722,
 12760,
 12777,
 12881,
 12886,
 12887,
 12899,
 12917,
 12922,
 12927,
 12971,
 12979,
 13071,
 13072,
 13102,
 13113,
 13127,
 13145,
 13158,
 13159,
 13183,
 13195,
 13245,
 13256,
 13261,
 13281,
 13294,
 13304,
 13361,
 13366,
 13391,
 13399,
 13433,
 13484,
 13505,
 13567,
 13591,
 13629,
 13701,
 13702,
 13709,
 13766,
 13767,
 13777,
 13798,
 13806,
 13829,
 13847,
 13878,
 13888,
 13895,
 13931,
 13944,
 13954,
 13956,
 13964,
 14081,
 14086,
 14126,
 14164,
 14195,
 14199,
 14202,
 14212,
 14265,
 14275,
 14282,
 14292,
 14295,
 14305,
 14325,
 14333,
 14338,
 14368,
 14438,
 14490,
 14613,
 14653,
 14733,
 14748,
 14749,
 14772,
 14823,
 14847,
 14865,
 14867,
 14935,
 14947,
 14993,
 15006,
 15024,
 15032,
 15046,
 15054,
 15060,
 15162,
 15206,
 15215,
 15243,
 15261,
 15273,
 15280,
 15289,
 15290,
 15318,
 15356,
 15375,
 15395,
 15443,
 15484,
 15488,
 15506,
 15508,
 15531,
 15560,
 15562,
 15572,
 15575,
 15579,
 15631,
 15632,
 15634,
 15650,
 15732,
 15777,
 15797,
 15839,
 15840,
 15854,
 15887,
 15894,
 15899,
 15921,
 15950,
 15988,
 15991,
 16028,
 16041,
 16061,
 16062,
 16068,
 16073,
 16104,
 16130,
 16143,
 16150,
 16176,
 16196,
 16251,
 16253,
 16307,
 16316,
 16354,
 16357,
 16369,
 16376,
 16382,
 16397,
 16398,
 16413,
 16415,
 16431,
 16447,
 16495,
 16502,
 16522,
 16540,
 16558,
 16574,
 16590,
 16600,
 16606,
 16620,
 16622,
 16626,
 16630,
 16652,
 16704,
 16708,
 16712,
 16733,
 16734,
 16743,
 16744,
 16762,
 16763,
 16785,
 16796,
 16800,
 16827,
 16845,
 16848,
 16876,
 16885,
 16916,
 16919,
 16934,
 16940,
 16946,
 16978,
 16982,
 16984,
 17018,
 17123,
 17163,
 17169,
 17188,
 17210,
 17227,
 17244,
 17253,
 17263,
 17277,
 17279,
 17316,
 17318,
 17323,
 17365,
 17369,
 17376,
 17385,
 17404,
 17417,
 17442,
 17468,
 17470,
 17486,
 17488,
 17522,
 17558,
 17561,
 17579,
 17590,
 17635,
 17665,
 17680,
 17712,
 17736,
 17775,
 17778,
 17847,
 17880,
 17902,
 17911,
 17969,
 17973,
 18015,
 18094,
 18102,
 18127,
 18155,
 18170,
 18184,
 18233,
 18247,
 18312,
 18393,
 18426,
 18437,
 18447,
 18451,
 18460,
 18467,
 18514,
 18568,
 18635,
 18683,
 18713,
 18734,
 18742,
 18760,
 18779,
 18894,
 18897,
 18917,
 18943,
 18952,
 18977,
 18986,
 18999,
 19028,
 19033,
 19051,
 19084,
 19118,
 19141,
 19153,
 19165,
 19205,
 19214,
 19221,
 19343,
 19388,
 19402,
 19407,
 19441,
 19446,
 19508,
 19509,
 19524,
 19532,
 19556,
 19559,
 19568,
 19604,
 19640,
 19660,
 19670,
 19702,
 19716,
 19717,
 19749,
 19797,
 19879,
 19903,
 19909,
 19970,
 19990,
 20007,
 20028,
 20036,
 20047,
 20073,
 20085,
 20088,
 20141,
 20191,
 20231,
 20235,
 20259,
 20267,
 20269,
 20298,
 20304,
 20330,
 20344,
 20347,
 20349,
 20376,
 20505,
 20513,
 20521,
 20544,
 20573,
 20577,
 20579,
 20583,
 20613,
 20617,
 20619,
 20631,
 20635,
 20681,
 20697,
 20744,
 20765,
 20769,
 20788,
 20800,
 20829,
 20866,
 20894,
 20902,
 20918,
 21003,
 21009,
 21043,
 21053,
 21107,
 21146,
 21157,
 21167,
 21175,
 21185,
 21191,
 21227,
 21253,
 21393,
 21419,
 21436,
 21489,
 21521,
 21569,
 21608,
 21621,
 21677,
 21688,
 21697,
 21702,
 21746,
 21751,
 21755,
 21762,
 21764,
 21767,
 21771,
 21772,
 21820,
 21836,
 21846,
 21872,
 21876,
 21881,
 21901,
 21904,
 21923,
 21928,
 22009,
 22106,
 22125,
 22128,
 22185,
 22202,
 22204,
 22225,
 ...]

In [ ]:
target = dict()

for user in list(user_table.index):
    if user in set(target_data['user_id']):
            target[user] = 1
    else: 
            target[user] = 0

In [96]:
target_data['user_id'].values

array([], dtype=int64)

In [95]:
target_users

set()

In [ ]:
#Getting last ten 10

In [65]:
user_indexed = data.set_index('user_id').sort_values(by='time_done')

In [66]:
user_indexed.head()

,topic_mode,suggested,review_mode,time_done,time_taken,correct,count_attempts,hint_used,count_hints,earned_proficiency,points_earned
user_id,,,,,,,,,,,
237856,0,0,0,2014-01-01 00:00:03.148100,6,1,1,0,0,0,75
154395,0,0,1,2014-01-01 00:00:14.107860,22,1,1,0,0,0,5
119799,1,1,0,2014-01-01 00:00:15.110180,10,1,1,0,0,0,225
154395,0,0,1,2014-01-01 00:00:19.035330,4,1,1,0,0,0,14
119799,1,1,0,2014-01-01 00:00:24.901530,5,1,1,0,0,0,225

In [67]:
user_indexed.loc[35, :]

,topic_mode,suggested,review_mode,time_done,time_taken,correct,count_attempts,hint_used,count_hints,earned_proficiency,points_earned
user_id,,,,,,,,,,,
35,0,0,0,2014-01-08 06:43:24.504230,255,0,7,1,2,0,0
35,0,0,0,2014-01-09 09:01:02.373640,60,0,3,0,0,0,0
35,0,0,0,2014-01-09 09:02:21.835700,45,1,1,0,0,0,75
35,0,0,0,2014-01-09 09:02:40.267920,11,1,1,0,0,0,75
35,0,0,0,2014-01-09 09:02:50.194020,18,0,2,0,0,0,0
35,0,0,0,2014-01-09 09:03:05.104680,13,0,2,0,0,0,0
35,0,0,0,2014-01-09 09:03:24.794640,14,1,1,0,0,0,75
35,0,0,0,2014-01-09 09:03:34.756280,8,1,1,0,0,0,75
35,0,0,0,2014-01-09 09:03:46.724700,25,0,3,0,0,0,0
35,0,0,0,2014-01-09 09:05:36.073410,14,1,1,0,0,0,75
35,0,0,0,2014-01-09 09:05:51.132600,13,1,1,0,0,0,75
35,0,0,0,2014-01-09 09:06:03.832240,11,1,1,0,0,0,75
35,0,0,0,2014-01-09 09:06:14.564270,8,1,1,0,0,0,75
35,0,0,0,2014-01-09 09:06:29.140050,14,1,1,0,0,1,75
35,0,0,0,2014-01-09 09:07:25.269560,81,0,11,0,0,0,0
35,0,0,0,2014-01-09 09:08:23.070820,76,0,18,0,0,0,0
35,0,0,0,2014-01-09 09:09:22.074950,9,1,1,0,0,0,14
35,0,0,0,2014-01-09 09:09:45.023220,12,0,3,0,0,0,0
35,0,0,0,2014-01-09 09:09:56.456570,8,0,3,0,0,0,0
35,0,0,0,2014-01-09 09:10:08.308320,12,0,5,0,0,0,0
35,0,0,0,2014-01-09 09:10:22.318540,6,0,2,0,0,0,0
35,0,0,0,2014-01-09 09:10:27.921850,5,0,2,0,0,0,0
35,0,0,0,2014-01-09 09:10:36.112290,9,0,4,0,0,0,0
35,0,0,0,2014-01-09 09:10:47.015010,6,0,3,0,0,0,0
35,0,0,0,2014-01-09 09:10:55.194010,5,0,4,0,0,0,0
35,0,0,0,2014-01-09 09:11:38.448520,45,0,3,0,0,0,0
35,0,0,0,2014-01-09 09:12:16.677560,10,0,2,0,0,0,0
35,0,0,0,2014-01-09 09:12:23.279920,9,0,2,1,3,0,0
35,0,0,0,2014-01-09 09:12:34.706450,9,0,1,1,2,0,0
35,0,0,0,2014-01-09 09:12:46.289240,12,0,3,1,3,0,0
35,0,0,0,2014-01-09 09:13:13.004820,4,1,1,0,0,0,75
35,0,0,0,2014-01-09 09:13:18.606020,3,1,1,0,0,0,75
35,0,0,0,2014-01-09 09:13:21.729530,2,1,1,0,0,0,75
35,0,0,0,2014-01-09 09:13:25.521960,3,1,1,0,0,0,75
35,0,0,0,2014-01-09 09:13:30.284380,4,1,1,0,0,1,75
35,0,0,0,2014-01-09 09:13:37.431020,6,1,1,0,0,0,14
35,0,0,0,2014-01-09 09:13:43.283170,4,1,1,0,0,0,13
35,0,0,0,2014-01-09 09:13:46.363550,2,1,1,0,0,0,12
35,0,0,0,2014-01-09 09:14:00.616340,68,0,20,1,2,0,0
35,0,0,0,2014-01-09 09:19:30.496720,37,0,2,0,0,0,0
35,0,0,0,2014-01-09 09:19:54.846720,18,0,3,0,0,0,0
35,0,0,0,2014-01-09 09:20:17.664140,55,0,15,1,3,0,0
35,0,0,0,2014-01-09 09:21:06.572330,56,0,5,0,0,0,0
35,0,0,0,2014-01-09 09:22:05.431690,30,0,3,0,0,0,0
35,0,0,0,2014-01-09 09:22:41.026590,25,0,3,1,3,0,0
35,0,0,0,2014-01-09 09:23:03.436500,25,0,3,0,0,0,0

In [81]:


user_indexed.loc[35, 'count_attempts'][-10:].sum()

56

In [79]:

y = user_indexed.loc[35, 'count_hints'][-10:].sum()

In [80]:
y

8

In [ ]:
for user_id in set(new_data.index.values):
#     days_active[user_id] = get_active_weeks(user_id)

In [ ]:
def get_last_10_hints(user_id):
    try: 
        return len(set(new_data.loc[user_id, 'week']))
    except:
        return 0

In [ ]:
#Creating a More than 1 day co