In [414]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime, timedelta 

from src.data_prep import *

%matplotlib inline

In [443]:
data = pd.read_pickle('../junyi_df.pickle')

In [444]:
#Dropping Un-needed Columns
data = drop_columns(data)

In [445]:
#Changing Bools to Int
data = change_bool(data)

In [454]:
#Convert Unix datetime to DateTime
convert_dates(data, 'time_done')

In [455]:
#Choosing Date Range
data = select_date(data, 'time_done', '1/1/2014', '9/30/2014')

In [179]:
data.head()

,user_id,topic_mode,suggested,review_mode,time_done,time_taken,correct,count_attempts,hint_used,count_hints,earned_proficiency,points_earned
5,135350,0,1,0,2014-02-19 08:46:32.220080,9,1,1,0,0,0,225
6,126493,0,0,0,2014-03-21 01:56:56.571340,19,0,2,0,0,0,0
8,91712,0,1,0,2014-03-26 04:41:24.278610,4,1,1,0,0,0,195
9,13719,0,0,0,2014-03-06 09:30:38.458960,2,1,1,0,0,0,5
43,41750,1,1,0,2014-03-11 16:35:37.248730,15,1,1,0,0,0,225

In [456]:
#Creating User Table with sums of data points
users = data.groupby('user_id').sum()

In [457]:
user_table = pd.DataFrame(users)

In [458]:
#Creating a time variable rng
user_time = data.groupby('user_id')
rng = (user_time['time_done'].max() - user_time['time_done'].min()).dt.days

In [459]:
#Cutting Table to include only users with 10 or more days active
user_table = user_table[(rng>9)]

In [357]:
#Creating Squared Hints, Correct, Review_Mode(Unused in final )
# user_table['count_hints_sq'] = user_table['count_hints'] **2 
# user_table['count_attempts_sq'] = user_table['count_attempts'] **2 
# user_table['review_mode_sq'] = user_table['review_mode'] **2
# user_table['correct_sq'] = user_table['correct'] **2

In [460]:
#Creating a More than 10 activities columns
total_usage = data['user_id'].value_counts().sort_index()
user_table['total_usage'] = total_usage


#Unused in final table
#user_table['more_than_100_activities'] = (total_usage > 100).astype(int)
#user_table['more_than_1000_activities'] = (total_usage > 1000).astype(int)
#user_table['more_than_ten_activities'] = (total_usage > 10).astype(int)

In [186]:
#Creating a More than X day columns

In [385]:
user_time = data.groupby('user_id')
rng = (user_time['time_done'].max() - user_time['time_done'].min()).dt.days

In [461]:
#The columns below did not end up in the final table
#user_table['active_more_than_1_day'] = (rng > 0).astype(int)
#user_table['active_at_least_5_days'] = (rng >= 4).astype(int)
#user_table['active_at_least_10_days'] = (rng >= 9).astype(int)

active_from_last= (data['time_done'].max() - (user_time['time_done'].max())).dt.days
user_table['active_from_last'] = active_from_last

#active_from_last_sq = active_from_last ** 2
#user_table['active_from_last_sq'] = active_from_last_sq

In [408]:
#Creating a 7 day streak columns

In [462]:
one_before = ((data['time_done'].max())- timedelta(1))
two_before = ((data['time_done'].max())- timedelta(2))
three_before = ((data['time_done'].max())- timedelta(3))
four_before = ((data['time_done'].max())- timedelta(4)) 
five_before = ((data['time_done'].max())- timedelta(5))
six_before =((data['time_done'].max())- timedelta(6))
seven_before =((data['time_done'].max())- timedelta(7))

In [463]:
user_table['one_before'] = ((one_before - (user_time['time_done'].max())).dt.days == 0).astype(int)

In [464]:
user_table['two_before'] = ((two_before - (user_time['time_done'].max())).dt.days == 0).astype(int)
user_table['three_before'] = ((three_before - (user_time['time_done'].max())).dt.days == 0).astype(int)
user_table['four_before'] = ((four_before - (user_time['time_done'].max())).dt.days == 0).astype(int)
user_table['five_before'] = ((five_before - (user_time['time_done'].max())).dt.days == 0).astype(int)
user_table['six_before'] = ((six_before - (user_time['time_done'].max())).dt.days == 0).astype(int)
user_table['seven_before'] = ((seven_before - (user_time['time_done'].max())).dt.days == 0).astype(int)

In [194]:
#list(user_table.index)

In [ ]:
# Creating Target Column 
target = create_target('../junyi_df.pickle', '10/1/2014', '10/31/2014', user_table)

In [205]:
target

{4: 0,
 16: 0,
 26: 0,
 29: 0,
 35: 0,
 36: 0,
 39: 0,
 46: 0,
 47: 0,
 50: 0,
 52: 0,
 53: 0,
 70: 0,
 71: 0,
 73: 0,
 78: 1,
 83: 0,
 85: 0,
 89: 0,
 92: 0,
 93: 0,
 100: 0,
 101: 0,
 105: 0,
 109: 0,
 124: 0,
 130: 0,
 147: 0,
 155: 0,
 161: 0,
 167: 1,
 174: 0,
 176: 0,
 202: 0,
 208: 0,
 209: 1,
 213: 0,
 221: 0,
 229: 0,
 239: 0,
 248: 0,
 260: 0,
 263: 0,
 264: 0,
 267: 0,
 268: 0,
 274: 0,
 277: 0,
 281: 0,
 286: 0,
 289: 0,
 290: 0,
 297: 0,
 319: 0,
 324: 0,
 327: 0,
 332: 0,
 347: 0,
 350: 0,
 356: 1,
 358: 0,
 365: 0,
 380: 0,
 382: 0,
 384: 0,
 397: 0,
 402: 0,
 404: 0,
 405: 0,
 410: 0,
 414: 0,
 418: 0,
 420: 1,
 424: 0,
 425: 0,
 434: 0,
 435: 0,
 436: 0,
 437: 1,
 450: 0,
 453: 0,
 466: 0,
 467: 0,
 488: 0,
 493: 0,
 495: 0,
 513: 0,
 516: 0,
 517: 0,
 528: 0,
 533: 0,
 536: 0,
 538: 0,
 542: 0,
 560: 0,
 583: 0,
 584: 0,
 589: 0,
 600: 1,
 602: 0,
 607: 0,
 608: 0,
 611: 0,
 633: 0,
 650: 0,
 666: 0,
 667: 0,
 675: 0,
 676: 0,
 681: 0,
 685: 0,
 689: 0,
 702: 1,
 718: 0,
 722: 0,
 723: 0,
 725: 0,
 731: 0,
 739: 0,
 742: 0,
 745: 0,
 752: 0,
 756: 0,
 762: 0,
 765: 0,
 777: 0,
 782: 0,
 787: 0,
 793: 0,
 797: 0,
 819: 0,
 821: 0,
 822: 0,
 824: 0,
 825: 0,
 838: 0,
 839: 0,
 840: 0,
 854: 0,
 856: 0,
 858: 0,
 872: 0,
 878: 0,
 885: 0,
 895: 0,
 898: 0,
 902: 0,
 906: 0,
 907: 0,
 940: 0,
 948: 0,
 953: 0,
 967: 0,
 968: 0,
 971: 0,
 972: 0,
 976: 0,
 979: 0,
 993: 0,
 996: 0,
 1001: 0,
 1003: 0,
 1005: 0,
 1006: 0,
 1009: 0,
 1010: 0,
 1013: 0,
 1014: 0,
 1038: 0,
 1039: 0,
 1044: 0,
 1046: 0,
 1060: 0,
 1061: 0,
 1070: 0,
 1084: 0,
 1085: 0,
 1086: 0,
 1087: 0,
 1089: 0,
 1107: 1,
 1108: 0,
 1114: 0,
 1115: 0,
 1132: 0,
 1133: 0,
 1138: 0,
 1139: 0,
 1141: 0,
 1161: 0,
 1167: 0,
 1185: 0,
 1190: 0,
 1196: 0,
 1197: 0,
 1204: 0,
 1211: 0,
 1233: 0,
 1254: 0,
 1255: 0,
 1256: 0,
 1259: 0,
 1262: 0,
 1267: 0,
 1268: 1,
 1286: 0,
 1295: 0,
 1300: 0,
 1306: 0,
 1312: 0,
 1314: 0,
 1324: 0,
 1325: 0,
 1328: 0,
 1334: 1,
 1337: 0,
 1355: 0,
 1356: 0,
 1364: 0,
 1366: 0,
 1368: 0,
 1378: 0,
 1380: 0,
 1386: 0,
 1396: 0,
 1402: 0,
 1406: 0,
 1407: 0,
 1411: 0,
 1414: 0,
 1420: 0,
 1423: 0,
 1438: 0,
 1449: 0,
 1454: 0,
 1456: 0,
 1459: 0,
 1460: 0,
 1467: 0,
 1474: 0,
 1485: 0,
 1505: 0,
 1513: 0,
 1514: 0,
 1515: 0,
 1527: 0,
 1536: 0,
 1540: 0,
 1555: 0,
 1565: 0,
 1568: 0,
 1571: 0,
 1583: 0,
 1591: 0,
 1592: 0,
 1593: 0,
 1604: 0,
 1606: 0,
 1625: 0,
 1637: 0,
 1642: 0,
 1645: 0,
 1652: 0,
 1653: 0,
 1657: 0,
 1660: 0,
 1668: 0,
 1669: 0,
 1670: 0,
 1673: 0,
 1675: 0,
 1677: 0,
 1696: 0,
 1697: 0,
 1701: 0,
 1703: 0,
 1707: 0,
 1708: 1,
 1713: 0,
 1739: 0,
 1740: 0,
 1750: 0,
 1756: 0,
 1760: 0,
 1769: 0,
 1772: 0,
 1778: 0,
 1788: 0,
 1794: 0,
 1802: 0,
 1803: 1,
 1814: 1,
 1818: 0,
 1837: 0,
 1838: 0,
 1842: 0,
 1843: 0,
 1855: 0,
 1873: 0,
 1882: 0,
 1883: 0,
 1892: 0,
 1909: 0,
 1922: 0,
 1926: 0,
 1935: 1,
 1951: 0,
 1953: 0,
 1969: 0,
 1979: 0,
 1988: 0,
 1990: 0,
 1994: 0,
 1999: 0,
 2003: 1,
 2011: 0,
 2012: 0,
 2016: 0,
 2017: 0,
 2027: 0,
 2029: 0,
 2031: 0,
 2036: 0,
 2054: 0,
 2062: 0,
 2066: 0,
 2068: 0,
 2082: 0,
 2094: 0,
 2096: 1,
 2109: 0,
 2110: 1,
 2113: 0,
 2119: 0,
 2123: 0,
 2146: 0,
 2149: 0,
 2154: 0,
 2161: 0,
 2163: 0,
 2176: 0,
 2185: 0,
 2187: 0,
 2190: 0,
 2195: 1,
 2200: 0,
 2204: 0,
 2207: 1,
 2225: 1,
 2235: 0,
 2236: 0,
 2274: 0,
 2280: 0,
 2303: 0,
 2305: 0,
 2313: 0,
 2328: 0,
 2330: 0,
 2332: 0,
 2335: 0,
 2338: 0,
 2346: 0,
 2355: 0,
 2376: 0,
 2387: 0,
 2394: 1,
 2403: 0,
 2405: 0,
 2406: 0,
 2412: 0,
 2413: 0,
 2414: 0,
 2416: 0,
 2425: 0,
 2430: 0,
 2443: 0,
 2447: 0,
 2457: 0,
 2462: 0,
 2463: 0,
 2464: 0,
 2467: 0,
 2475: 0,
 2480: 0,
 2489: 1,
 2497: 0,
 2504: 0,
 2515: 0,
 2518: 0,
 2520: 0,
 2523: 1,
 2525: 0,
 2526: 0,
 2545: 0,
 2546: 0,
 2566: 0,
 2571: 0,
 2583: 0,
 2585: 0,
 2588: 0,
 2589: 0,
 2595: 0,
 2603: 0,
 2609: 0,
 2610: 0,
 2635: 0,
 2649: 0,
 2653: 0,
 2657: 0,
 2662: 0,
 2672: 0,
 2686: 0,
 2691: 0,
 2703: 0,
 2705: 0,
 2709: 0,
 2712: 0,
 2713: 0,
 2714: 0,
 2727: 0,
 2728: 0,
 2731: 0,
 2734: 0,
 2735: 0,
 2736: 0,
 2744: 0,
 2748: 0,
 2749: 0,
 2754: 0,
 2757: 0,
 2758: 1,
 2760: 0,
 2761: 0,
 2783: 0,
 2788: 1,
 2796: 0,
 2800: 0,
 2807: 0,
 2819: 0,
 2833: 0,
 2835: 0,
 2841: 0,
 2846: 0,
 2856: 1,
 2860: 0,
 2865: 0,
 2877: 0,
 2882: 0,
 2887: 0,
 2890: 0,
 2895: 0,
 2896: 0,
 2905: 0,
 2917: 0,
 2921: 0,
 2925: 0,
 2940: 0,
 2945: 0,
 2946: 0,
 2950: 0,
 2952: 0,
 2962: 0,
 2964: 0,
 2966: 0,
 2968: 0,
 2971: 0,
 2975: 0,
 2979: 1,
 2981: 0,
 2983: 0,
 2984: 0,
 2985: 0,
 2988: 0,
 3000: 0,
 3005: 0,
 3011: 0,
 3012: 1,
 3015: 0,
 3020: 1,
 3025: 0,
 3027: 0,
 3043: 0,
 3051: 0,
 3060: 0,
 3069: 0,
 3074: 0,
 3078: 0,
 3079: 0,
 3105: 0,
 3106: 0,
 3117: 0,
 3126: 0,
 3127: 0,
 3128: 0,
 3129: 0,
 3130: 0,
 3144: 0,
 3145: 0,
 3147: 0,
 3150: 1,
 3152: 0,
 3154: 0,
 3158: 0,
 3160: 0,
 3166: 0,
 3171: 0,
 3173: 0,
 3189: 0,
 3193: 0,
 3194: 0,
 3195: 0,
 3211: 0,
 3236: 0,
 3241: 0,
 3245: 0,
 3249: 0,
 3267: 0,
 3268: 0,
 3272: 1,
 3274: 0,
 3297: 0,
 3305: 0,
 3314: 0,
 3320: 0,
 3322: 0,
 3327: 0,
 3332: 1,
 3346: 0,
 3349: 0,
 3350: 0,
 3369: 1,
 3375: 1,
 3388: 0,
 3390: 0,
 3394: 0,
 3404: 0,
 3414: 0,
 3425: 0,
 3426: 0,
 3429: 0,
 3432: 1,
 3437: 0,
 3443: 0,
 3467: 0,
 3469: 0,
 3472: 0,
 3474: 0,
 3483: 0,
 3486: 0,
 3503: 0,
 3510: 0,
 3513: 0,
 3517: 0,
 3539: 0,
 3545: 0,
 3549: 0,
 3556: 0,
 3563: 0,
 3565: 0,
 3567: 0,
 3573: 0,
 3578: 0,
 3582: 0,
 3596: 0,
 3600: 0,
 3606: 0,
 3608: 0,
 3610: 0,
 3613: 1,
 3619: 0,
 3636: 0,
 3640: 0,
 3651: 0,
 3656: 0,
 3658: 0,
 3666: 0,
 3669: 0,
 3675: 0,
 3680: 0,
 3681: 0,
 3689: 0,
 3702: 0,
 3703: 0,
 3705: 0,
 3714: 1,
 3717: 0,
 3718: 0,
 3734: 0,
 3736: 0,
 3746: 0,
 3747: 0,
 3763: 0,
 3783: 0,
 3787: 0,
 3789: 0,
 3796: 0,
 3797: 0,
 3802: 0,
 3804: 0,
 3811: 0,
 3812: 0,
 3819: 0,
 3829: 0,
 3843: 0,
 3851: 0,
 3853: 0,
 3856: 0,
 3859: 0,
 3871: 1,
 3883: 0,
 3888: 0,
 3889: 0,
 3905: 0,
 3906: 0,
 3938: 0,
 3947: 0,
 3953: 0,
 3959: 0,
 3970: 0,
 3986: 0,
 3995: 0,
 4015: 0,
 4016: 0,
 4029: 1,
 4035: 0,
 4047: 0,
 4064: 0,
 4093: 0,
 4094: 0,
 4097: 0,
 4107: 0,
 4109: 0,
 4112: 0,
 4124: 0,
 4126: 0,
 4138: 0,
 4152: 0,
 4157: 0,
 4168: 1,
 4178: 0,
 4193: 0,
 4211: 0,
 4213: 0,
 4215: 0,
 4219: 0,
 4225: 0,
 4228: 0,
 4232: 0,
 4233: 0,
 4253: 0,
 4276: 0,
 4287: 0,
 4296: 0,
 4303: 0,
 4312: 0,
 4324: 0,
 4333: 0,
 4335: 0,
 4349: 0,
 4380: 0,
 4391: 0,
 4400: 0,
 4403: 0,
 4409: 0,
 4410: 0,
 4415: 0,
 4420: 0,
 4426: 0,
 4427: 0,
 4433: 0,
 4438: 0,
 4444: 0,
 4467: 0,
 4468: 0,
 4477: 0,
 4483: 0,
 4485: 0,
 4506: 0,
 4511: 0,
 4519: 0,
 4525: 0,
 4537: 0,
 4553: 0,
 4554: 0,
 4571: 0,
 4574: 0,
 4578: 0,
 4589: 0,
 4597: 0,
 4604: 0,
 4611: 0,
 4612: 0,
 4628: 0,
 4648: 0,
 4655: 0,
 4664: 0,
 4665: 0,
 4668: 1,
 4669: 0,
 4676: 0,
 4681: 0,
 4696: 0,
 4699: 0,
 4702: 1,
 4703: 0,
 4709: 0,
 4713: 0,
 4716: 0,
 4718: 0,
 4728: 0,
 4739: 0,
 4742: 1,
 4749: 0,
 4753: 0,
 4760: 0,
 4762: 0,
 4766: 0,
 4770: 0,
 4771: 0,
 4777: 0,
 4786: 0,
 4789: 0,
 4804: 0,
 4810: 0,
 4811: 1,
 4821: 0,
 4836: 0,
 4837: 0,
 4867: 0,
 4869: 0,
 4874: 0,
 4886: 0,
 4891: 0,
 4892: 0,
 4899: 1,
 4908: 0,
 4923: 0,
 4928: 0,
 4941: 0,
 4945: 0,
 4956: 0,
 4958: 0,
 4959: 0,
 4965: 0,
 4982: 0,
 4983: 0,
 4989: 0,
 4995: 0,
 5036: 0,
 5042: 0,
 5043: 0,
 5055: 0,
 5059: 0,
 5061: 0,
 5064: 0,
 5068: 0,
 5093: 0,
 5095: 0,
 5107: 0,
 5111: 0,
 5112: 0,
 5119: 0,
 5124: 0,
 5142: 0,
 5154: 0,
 5161: 0,
 5164: 0,
 5167: 0,
 5172: 0,
 5187: 0,
 5190: 0,
 5199: 0,
 5201: 0,
 5202: 0,
 5206: 0,
 5209: 0,
 5214: 0,
 5220: 0,
 5237: 0,
 5244: 0,
 5246: 0,
 5248: 0,
 5256: 0,
 5269: 0,
 5271: 1,
 5284: 0,
 5296: 0,
 5302: 0,
 5306: 0,
 5323: 0,
 5327: 0,
 5330: 0,
 5331: 0,
 5335: 0,
 5352: 0,
 5353: 0,
 5357: 0,
 5362: 0,
 5379: 0,
 5387: 0,
 5389: 0,
 5390: 0,
 5399: 0,
 5405: 0,
 5406: 0,
 5415: 0,
 5417: 0,
 5427: 0,
 5430: 0,
 5431: 0,
 5435: 0,
 5454: 0,
 5461: 0,
 5467: 0,
 5468: 0,
 5471: 1,
 5485: 0,
 5490: 0,
 5496: 0,
 5498: 0,
 5509: 0,
 5510: 0,
 5511: 0,
 5518: 0,
 5521: 0,
 5528: 0,
 5531: 0,
 5532: 0,
 5569: 0,
 5573: 0,
 5582: 0,
 5592: 0,
 5595: 0,
 5600: 1,
 5622: 0,
 5636: 0,
 5642: 0,
 5643: 0,
 5651: 0,
 5660: 0,
 5662: 0,
 5663: 0,
 5669: 0,
 5670: 0,
 5680: 0,
 5682: 1,
 5684: 0,
 5689: 0,
 5703: 1,
 5706: 0,
 5707: 0,
 5710: 0,
 5711: 0,
 5720: 0,
 5721: 0,
 5725: 0,
 5741: 0,
 5745: 0,
 5747: 0,
 5748: 0,
 5752: 0,
 5764: 0,
 5766: 0,
 5791: 0,
 5797: 0,
 5799: 0,
 5802: 0,
 5815: 1,
 5818: 0,
 5819: 0,
 5823: 0,
 5825: 0,
 5854: 0,
 5859: 0,
 5863: 0,
 5867: 0,
 5877: 0,
 5879: 0,
 5886: 0,
 5888: 0,
 5922: 0,
 5928: 0,
 5938: 1,
 5943: 0,
 5951: 0,
 5955: 0,
 5961: 0,
 5966: 0,
 5967: 0,
 5971: 0,
 5984: 0,
 5999: 0,
 6004: 0,
 6021: 0,
 6030: 0,
 6033: 0,
 6051: 0,
 6055: 0,
 6061: 0,
 6064: 0,
 6068: 0,
 6074: 0,
 6077: 0,
 6082: 0,
 6083: 0,
 6086: 1,
 6090: 0,
 6102: 0,
 6103: 0,
 6112: 0,
 6122: 0,
 6131: 0,
 6134: 0,
 6142: 0,
 6143: 0,
 6145: 0,
 6151: 0,
 6155: 1,
 6172: 0,
 6173: 0,
 6181: 0,
 6183: 0,
 6195: 0,
 6198: 0,
 6200: 0,
 6207: 1,
 6211: 0,
 6217: 0,
 6225: 0,
 6230: 0,
 6231: 0,
 6238: 0,
 6250: 0,
 6260: 0,
 6266: 0,
 6271: 0,
 6273: 0,
 6292: 0,
 6306: 0,
 6307: 0,
 6322: 0,
 6331: 0,
 6332: 0,
 6345: 0,
 6362: 0,
 6363: 0,
 6371: 0,
 6382: 0,
 6384: 0,
 6390: 0,
 6401: 0,
 6406: 0,
 6422: 0,
 6444: 0,
 6446: 0,
 6450: 0,
 6474: 0,
 6490: 0,
 6498: 0,
 6499: 0,
 6509: 1,
 6510: 1,
 6516: 0,
 6534: 0,
 6535: 0,
 6539: 0,
 6541: 0,
 6549: 0,
 6556: 0,
 6565: 0,
 6577: 1,
 6585: 0,
 6587: 0,
 6588: 0,
 6589: 0,
 6596: 0,
 6605: 0,
 6612: 0,
 6615: 0,
 6621: 0,
 6627: 0,
 6628: 0,
 6636: 0,
 6637: 0,
 6648: 0,
 6649: 0,
 6659: 0,
 6662: 0,
 6666: 0,
 6687: 0,
 6693: 0,
 6698: 0,
 6702: 0,
 6705: 0,
 6708: 0,
 6734: 0,
 6751: 0,
 6765: 0,
 6781: 0,
 6785: 1,
 ...}

In [424]:
#Dropping if colums if needed before adding target and saving
#user_table.drop(columns=['target'], inplace=True)

In [423]:
#user_table.drop(columns=['active_at_least_10_days', 'active_at_least_5_days', 'active_more_than_1_day'], inplace=True)

In [425]:
user_table['target'] = target.values()

In [200]:
#user_table.drop(columns=['active_more_than_1', 'active_at_least_5', 'active_at_least_10'], inplace=True)

In [426]:
user_table.head(5)

,topic_mode,suggested,review_mode,time_taken,correct,count_attempts,hint_used,count_hints,earned_proficiency,points_earned,...,sum_attempts,one_before,two_before,three_before,four_before,five_before,six_before,seven_before,total_usage,target
user_id,,,,,,,,,,,,,,,,,,,,,
52,995,417,128,27337,2762,3487,32,104,187,257158,...,3487,0,1,0,0,0,0,0,3038,0
85,65,63,0,5049,123,255,41,169,8,15682,...,255,0,0,0,0,0,0,0,184,0
100,32,0,0,2113,48,123,14,60,0,7325,...,123,0,0,0,0,0,0,0,73,1
101,213,404,31,9445,809,1023,3,5,65,104617,...,1023,0,0,0,0,0,0,0,888,0
109,1,3,0,877,90,153,1,4,4,4310,...,153,0,0,0,0,0,1,0,105,0

In [427]:
user_table.columns

Index(['topic_mode', 'suggested', 'review_mode', 'time_taken', 'correct',
       'count_attempts', 'hint_used', 'count_hints', 'earned_proficiency',
       'points_earned', 'more_than_ten_activities', 'more_than_100_activities',
       'more_than_1000_activities', 'active_from_last', 'sum_attempts',
       'one_before', 'two_before', 'three_before', 'four_before',
       'five_before', 'six_before', 'seven_before', 'total_usage', 'target'],
      dtype='object')

In [428]:
#Save table
# Make sure to change version

user_table.to_csv('../users_v3.csv')

In [ ]:
for col in list(user_table.columns.values): 
    fig, ax = plt.subplots()
    ax.scatter(user_table['target'], user_table[col])
    ax.set_title(col)

In [402]:
list(user_table.columns.values)

['topic_mode',
 'suggested',
 'review_mode',
 'time_taken',
 'correct',
 'count_attempts',
 'hint_used',
 'count_hints',
 'earned_proficiency',
 'points_earned',
 'more_than_ten_activities',
 'more_than_100_activities',
 'more_than_1000_activities',
 'active_from_last',
 'one_before',
 'two_before',
 'three_before',
 'four_before',
 'five_before',
 'six_before',
 'seven_before',
 'target']

In [79]:
# #Unused feature engineering
# #y = user_indexed.loc[35, 'count_hints'][-10:].sum()

# for user_id in set(new_data.index.values):
# #     days_active[user_id] = get_active_weeks(user_id)

# def get_last_10_hints(user_id):
# #     try: 
#         return len(set(new_data.loc[user_id, 'week']))
#     except:
# #         return 0

In [ ]:
#Creating a More than 1 day co