In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [4]:
data = pd.read_pickle('../junyi_df.pickle')

In [5]:
data['time_done'] = pd.to_datetime(data['time_done'],unit='us')

In [7]:
data.head()

,user_id,exercise,problem_type,problem_number,topic_mode,suggested,review_mode,time_done,time_taken,time_taken_attempts,correct,count_attempts,hint_used,count_hints,hint_time_taken_list,earned_proficiency,points_earned
0,12884,time_terminology,analog_word,1,False,False,False,2015-01-08 11:00:10.324490,4,3&1,False,2,False,0,NaN,False,0
1,239464,multiplication_1,0,6,False,False,False,2014-06-18 13:33:20.836660,2,2,True,1,False,0,NaN,False,14
2,147359,adding_decimals_0.5,0,6,False,False,False,2014-12-18 08:18:15.540340,16,16,True,1,False,0,NaN,False,75
3,158155,multiplication_1,0,3,False,False,False,2014-05-19 03:17:24.264040,2,2,True,1,False,0,NaN,False,75
4,147151,subtraction_2,subtraction-2,10,True,True,False,2013-10-24 21:41:45.730160,4,4,True,1,False,0,NaN,False,225

In [14]:
data.drop(columns=['exercise', 'problem_type', 'problem_number', 'time_take_attempts', 'hint_time_taken_list'], inplace=True)

In [15]:
data.head()

,user_id,topic_mode,suggested,review_mode,time_done,time_taken,time_taken_attempts,correct,count_attempts,hint_used,count_hints,hint_time_taken_list,earned_proficiency,points_earned
0,12884,False,False,False,2015-01-08 11:00:10.324490,4,3&1,False,2,False,0,NaN,False,0
1,239464,False,False,False,2014-06-18 13:33:20.836660,2,2,True,1,False,0,NaN,False,14
2,147359,False,False,False,2014-12-18 08:18:15.540340,16,16,True,1,False,0,NaN,False,75
3,158155,False,False,False,2014-05-19 03:17:24.264040,2,2,True,1,False,0,NaN,False,75
4,147151,True,True,False,2013-10-24 21:41:45.730160,4,4,True,1,False,0,NaN,False,225

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25925992 entries, 0 to 25925991
Data columns (total 14 columns):
user_id                 int64
topic_mode              bool
suggested               bool
review_mode             bool
time_done               datetime64[ns]
time_taken              int64
time_taken_attempts     object
correct                 bool
count_attempts          int64
hint_used               bool
count_hints             int64
hint_time_taken_list    object
earned_proficiency      bool
points_earned           int64
dtypes: bool(6), datetime64[ns](1), int64(5), object(2)
memory usage: 1.7+ GB

In [17]:
data.columns

Index(['user_id', 'topic_mode', 'suggested', 'review_mode', 'time_done',
       'time_taken', 'time_taken_attempts', 'correct', 'count_attempts',
       'hint_used', 'count_hints', 'hint_time_taken_list',
       'earned_proficiency', 'points_earned'],
      dtype='object')

In [20]:
def change_bool(df, bool_cols):
    for col in bool_cols:
        df[col] = df[col].astype(int)
    return df 

bool_cols = ['topic_mode', 'suggested', 'review_mode','correct', 'hint_used','earned_proficiency',]

data = change_bool(data, bool_cols)

In [22]:
data.drop(columns=['time_taken_attempts', 'hint_time_taken_list'], inplace=True)

In [23]:
data.head()

,user_id,topic_mode,suggested,review_mode,time_done,time_taken,correct,count_attempts,hint_used,count_hints,earned_proficiency,points_earned
0,12884,0,0,0,2015-01-08 11:00:10.324490,4,0,2,0,0,0,0
1,239464,0,0,0,2014-06-18 13:33:20.836660,2,1,1,0,0,0,14
2,147359,0,0,0,2014-12-18 08:18:15.540340,16,1,1,0,0,0,75
3,158155,0,0,0,2014-05-19 03:17:24.264040,2,1,1,0,0,0,75
4,147151,1,1,0,2013-10-24 21:41:45.730160,4,1,1,0,0,0,225

In [24]:
data.describe()

,user_id,topic_mode,suggested,review_mode,time_taken,correct,count_attempts,hint_used,count_hints,earned_proficiency,points_earned
count,2.592599e+07,2.592599e+07,2.592599e+07,2.592599e+07,2.592599e+07,2.592599e+07,2.592599e+07,2.592599e+07,2.592599e+07,2.592599e+07,2.592599e+07
mean,1.236557e+05,2.491002e-01,2.054824e-01,2.139050e-02,9.955710e+01,8.278744e-01,1.363888e+00,6.456814e-02,2.850791e-01,4.606570e-02,8.219998e+01
std,7.121600e+04,4.324920e-01,4.040537e-01,1.446822e-01,2.157362e+05,3.774895e-01,2.391150e+00,2.457623e-01,1.276758e+00,2.096274e-01,9.056150e+01
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-5.049212e+08,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,6.154900e+04,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e+00
50%,1.236270e+05,0.000000e+00,0.000000e+00,0.000000e+00,8.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e+01
75%,1.850520e+05,0.000000e+00,0.000000e+00,0.000000e+00,1.800000e+01,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.950000e+02
max,2.476050e+05,1.000000e+00,1.000000e+00,1.000000e+00,4.067572e+08,1.000000e+00,1.000000e+03,1.000000e+00,2.000000e+01,1.000000e+00,2.250000e+02

In [56]:
data['week'] = data['time_done'].dt.week

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [59]:
data.drop(columns='day', inplace=True)

//anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [57]:
data.head()

,user_id,topic_mode,suggested,review_mode,time_done,time_taken,correct,count_attempts,hint_used,count_hints,earned_proficiency,points_earned,week,day
1,239464,0,0,0,2014-06-18 13:33:20.836660,2,1,1,0,0,0,14,25,18
2,147359,0,0,0,2014-12-18 08:18:15.540340,16,1,1,0,0,0,75,51,18
3,158155,0,0,0,2014-05-19 03:17:24.264040,2,1,1,0,0,0,75,21,19
5,135350,0,1,0,2014-02-19 08:46:32.220080,9,1,1,0,0,0,225,8,19
6,126493,0,0,0,2014-03-21 01:56:56.571340,19,0,2,0,0,0,0,12,21

In [60]:
data.groupby(['user_id', 'week']).mean().sort_values(by=['user_id','week'], ascending=[True,True])

              topic_mode  suggested  review_mode  time_taken   correct  \
user_id week
0       45      0.000000   0.875000         0.00   18.125000  0.875000
1       14      0.333333   0.555556         0.00   14.740741  0.740741
2       28      0.589744   0.564103         0.00   27.102564  0.923077
3       35      0.005495   0.076923         0.00   28.752747  0.917582
4       8       0.000000   0.625000         0.00    7.750000  1.000000
5       23      1.000000   0.572581         0.00   10.774194  0.846774
6       48      0.200000   0.600000         0.00   32.600000  0.800000
7       43      0.000000   0.000000         0.00  213.000000  0.000000
8       26      0.648352   0.527473         0.00    5.516484  0.835165
        28      0.633094   0.237410         0.00    7.899281  0.834532
9       26      0.455882   0.279412         0.00   16.750000  0.764706
        35      0.512195   0.012195         0.00   20.987805  0.707317
10      39      0.000000   0.000000         0.00    0.000000  0.000000
11      44      0.000000   0.000000         0.00    2.875000  0.875000
12      51      0.000000   0.000000         0.00   36.750000  1.000000
13      26      1.000000   1.000000         0.00   19.000000  1.000000
14      40      0.000000   0.000000         0.00   17.500000  0.750000
15      22      0.000000   0.000000         0.00    4.000000  1.000000
16      7       0.333333   0.000000         0.00  129.416667  0.875000
17      43      0.111111   0.111111         0.00    6.000000  1.000000
        46      0.000000   0.080000         0.00   25.360000  0.780000
        47      0.180000   0.040000         0.04   25.540000  0.540000
        48      0.000000   0.191176         0.00   20.529412  0.647059
        49      0.000000   0.083333         0.15   20.216667  0.883333
        51      0.000000   0.190476         0.00   28.142857  0.904762
        52      0.000000   0.000000         0.00   12.567308  0.788462
19      30      0.000000   0.000000         0.00    6.375000  1.000000
20      34      0.000000   0.000000         0.00   63.000000  1.000000
21      51      0.538462   0.346154         0.00   13.000000  0.942308
        52      0.000000   0.585106         0.00    8.117021  0.914894
...                  ...        ...          ...         ...       ...
247584  40      1.000000   0.000000         0.00   16.384615  0.846154
247585  43      0.500000   0.312500         0.00   36.750000  0.750000
247586  49      1.000000   0.400000         0.00   42.266667  0.600000
247587  36      0.000000   0.000000         0.00   32.473684  0.842105
247589  3       0.067797   0.347458         0.00    7.449153  0.915254
        4       0.666667   0.476190         0.00    5.857143  0.809524
        7       0.800000   0.100000         0.00   20.200000  0.700000
247590  51      1.000000   0.000000         0.00    6.200000  0.800000
247591  5       1.000000   0.750000         0.00    8.500000  0.875000
247592  42      1.000000   0.294118         0.00   24.941176  0.588235
247594  41      0.200000   0.350000         0.00   11.700000  0.925000
        42      0.142857   0.160714         0.00   12.910714  0.910714
247595  42      0.000000   0.000000         0.00   40.812500  0.968750
247596  50      0.000000   0.000000         0.00    1.375000  1.000000
247597  39      0.000000   0.333333         0.00   19.944444  0.444444
        40      0.326923   0.134615         0.00   16.269231  0.442308
247598  31      0.680000   0.200000         0.00   41.400000  0.820000
247599  14      1.000000   0.000000         0.00  159.500000  0.500000
247600  47      0.000000   0.470588         0.00   11.827206  0.944853
        48      0.000000   0.397059         0.00   13.588235  0.948529
247601  41      0.000000   0.000000         0.00   21.727273  0.727273
247602  12      1.000000   0.875000         0.00   20.250000  0.875000
        13      1.000000   0.513514         0.00    9.972973  0.918919
        15      0.750000   0.031250         0.00   35.593750  0.906250
        16      0.000000   0.066667         0.00   30.966667  0.866667
        25      0.019231   0.000000         0.00   53.865385  0.769231
247603  29      0.000000   0.000000         0.00   26.000000  1.000000
247604  47      0.076923   0.000000         0.00    8.615385  0.961538
        48      0.358974   0.564103         0.00   13.820513  0.871795
247605  46      0.000000   0.000000         0.00  138.000000  0.000000

              count_attempts  hint_used  count_hints  earned_proficiency  \
user_id week
0       45          1.250000   0.125000     0.125000            0.000000
1       14          1.555556   0.074074     0.518519            0.074074
2       28          1.769231   0.076923     0.102564            0.076923
3       35          1.093407   0.016484     0.065934            0.027473
4       8           1.000000   0.000000     0.000000            0.125000
5       23          1.217742   0.056452     0.056452            0.096774
6       48          1.000000   0.000000     0.000000            0.000000
7       43          1.833333   1.000000     3.166667            0.000000
8       26          1.109890   0.076923     0.494505            0.076923
        28          1.266187   0.007194     0.057554            0.064748
9       26          1.794118   0.073529     0.132353            0.029412
        35          1.573171   0.048780     0.134146            0.036585
10      39          0.000000   1.000000     3.000000            0.000000
11      44          1.250000   0.000000     0.000000            0.125000
12      51          1.000000   0.000000     0.000000            0.125000
13      26          1.000000   0.000000     0.000000            0.000000
14      40          1.750000   0.000000     0.000000            0.000000
15      22          1.000000   0.000000     0.000000            0.000000
16      7           1.083333   0.083333     0.125000            0.041667
17      43          1.000000   0.000000     0.000000            0.111111
        46          1.260000   0.180000     0.800000            0.060000
        47          1.860000   0.320000     1.960000            0.000000
        48          1.911765   0.220588     0.955882            0.044118
        49          1.316667   0.016667     0.033333            0.033333
        51          1.380952   0.047619     0.238095            0.047619
        52          1.240385   0.153846     0.413462            0.067308
19      30          1.000000   0.000000     0.000000            0.125000
20      34          1.000000   0.000000     0.000000            0.000000
21      51          1.096154   0.000000     0.000000            0.057692
        52          1.148936   0.063830     0.202128            0.074468
...                      ...        ...          ...                 ...
247584  40          1.000000   0.076923     0.076923            0.076923
247585  43          1.750000   0.187500     0.437500            0.062500
247586  49          1.866667   0.200000     0.533333            0.000000
247587  36          1.000000   0.157895     0.263158            0.052632
247589  3           1.220339   0.008475     0.008475            0.059322
        4           1.476190   0.000000     0.000000            0.095238
        7           1.600000   0.000000     0.000000            0.000000
247590  51          0.800000   0.200000     0.200000            0.000000
247591  5           1.000000   0.125000     0.125000            0.000000
247592  42          2.294118   0.352941     1.117647            0.000000
247594  41          1.025000   0.025000     0.025000            0.100000
        42          1.125000   0.026786     0.098214            0.053571
247595  42          1.031250   0.000000     0.000000            0.093750
247596  50          1.000000   0.000000     0.000000            0.125000
247597  39          1.277778   0.444444     2.888889            0.000000
        40          1.173077   0.480769     2.557692            0.000000
247598  31          1.480000   0.040000     0.200000            0.100000
247599  14          3.000000   0.500000     1.500000            0.000000
247600  47          1.058824   0.007353     0.011029            0.091912
        48          1.066176   0.000000     0.000000            0.058824
247601  41          1.090909   0.272727     1.363636            0.090909
247602  12          1.000000   0.125000     0.500000            0.000000
        13          1.121622   0.000000     0.000000            0.094595
        15          1.125000   0.000000     0.000000            0.062500
        16          1.100000   0.066667     0.233333            0.033333
        25          1.326923   0.000000     0.000000            0.000000
247603  29          1.000000   0.000000     0.000000            0.000000
247604  47          1.192308   0.000000     0.000000            0.076923
        48          1.153846   0.076923     0.102564            0.076923
247605  46          2.000000   1.000000     3.000000            0.000000

              points_earned
user_id week
0       45       196.875000
1       14       141.444444
2       28       159.000000
3       35        30.032967
4       8        145.500000
5       23       174.895161
6       48       180.000000
7       43         0.000000
8       26       135.571429
        28       118.748201
9       26       138.411765
        35        94.024390
10      39         0.000000
11      44        50.375000
12      51        51.750000
13      26       225.000000
14      40        56.250000
15      22        75.000000
16      7         78.166667
17      43        71.000000
        46        43.840000
        47        44.240000
        48        54.147059
        49        52.083333
        51        83.809524
        52        43.596154
19      30        51.750000
20      34        75.000000
21      51       128.461538
        52       122.755319
...                     ...
247584  40       174.923077
247585  43       142.312500
247586  49       135.000000
247587  36        52.578947
247589  3        103.449153
        4        135.047619
        7         59.100000
247590  51       180.000000
247591  5        196.875000
247592  42       132.352941
247594  41       118.275000
        42        81.187500
247595  42        45.437500
247596  50        51.750000
247597  39        83.333333
        40        53.269231
247598  31       147.180000
247599  14       112.500000
247600  47       115.930147
        48        94.279412
247601  41        37.636364
247602  12       196.875000
        13       189.851351
        15       133.875000
        16        64.833333
        25        49.538462
247603  29        75.000000
247604  47        42.846154
        48       146.846154
247605  46         0.000000

[404563 rows x 10 columns]

In [31]:
data = (data[(data['time_done']>='1/1/2014')& (data['time_done']<='12/31/2014')])

In [32]:
data.head()

,user_id,topic_mode,suggested,review_mode,time_done,time_taken,correct,count_attempts,hint_used,count_hints,earned_proficiency,points_earned,week
1,239464,0,0,0,2014-06-18 13:33:20.836660,2,1,1,0,0,0,14,25
2,147359,0,0,0,2014-12-18 08:18:15.540340,16,1,1,0,0,0,75,51
3,158155,0,0,0,2014-05-19 03:17:24.264040,2,1,1,0,0,0,75,21
5,135350,0,1,0,2014-02-19 08:46:32.220080,9,1,1,0,0,0,225,8
6,126493,0,0,0,2014-03-21 01:56:56.571340,19,0,2,0,0,0,0,12

In [77]:
data['user_id'].value_counts().describe()

count    215719.000000
mean        103.097312
std         354.679738
min           1.000000
25%           3.000000
50%          10.000000
75%          52.000000
max       21627.000000
Name: user_id, dtype: float64

In [94]:
data['user_id'].value_counts()

84690     21627
88703     20080
161155    14489
82710     11711
80229     11579
44854      9923
141685     9768
172560     9760
188225     9642
65067      9531
67549      8999
221241     8771
46785      8662
213942     8638
214633     8389
80278      8308
67308      8290
106016     8236
235370     7831
52505      7701
85165      7701
29200      7645
24241      7612
48707      7510
217320     7458
109766     7336
229591     7332
40913      7307
108575     7291
88111      7290
          ...
78278         1
94670         1
127454        1
225679        1
192959        1
209284        1
201868        1
94668         1
111060        1
2446          1
35230         1
78331         1
192898        1
225716        1
201870        1
84408         1
117160        1
78332         1
156253        1
189005        1
41477         1
61891         1
143770        1
139860        1
225714        1
100769        1
57868         1
185527        1
70863         1
150714        1
Name: user_id, Length: 215719, dtype: int64

In [100]:
data[data['user_id']==84690]['time_done'].min()

Timestamp('2014-09-05 02:01:11.427930')

In [93]:
activities.head()

84690     21627
88703     20080
161155    14489
82710     11711
80229     11579
Name: user_id, dtype: int64

In [90]:
activities.head()

        index  user_id
125713      0        8
73875       1       27
63003       2       39
25261       3      182
114966      4        8

In [148]:
users = data.groupby('user_id')

In [79]:
rng = (users['time_done'].max() - users['time_done'].min()).dt.days

In [80]:
len(rng)

215719

In [130]:
rng.describe()

count    215719.000000
mean         17.028987
std          49.257481
min           0.000000
25%           0.000000
50%           0.000000
75%           2.000000
max         363.000000
Name: time_done, dtype: float64

In [138]:
rng[rng>=7].describe()

count    47263.000000
mean        77.067008
std         80.348035
min          7.000000
25%         20.000000
50%         45.000000
75%        102.000000
max        363.000000
Name: time_done, dtype: float64

In [139]:
week_plus_index = rng[rng>7].index

In [88]:
rng['total_activities']= activities['user_id']

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning: modifications to a property of a datetimelike object are not supported and are discarded. Change values on the original.
  """Entry point for launching an IPython kernel.
//anaconda3/lib/python3.7/site-packages/pandas/core/series.py:1015: SettingWithCopyWarning: modifications to a property of a datetimelike object are not supported and are discarded. Change values on the original.
  self.loc[key] = value

In [140]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22240049 entries, 1 to 25925991
Data columns (total 13 columns):
user_id               int64
topic_mode            int64
suggested             int64
review_mode           int64
time_done             datetime64[ns]
time_taken            int64
correct               int64
count_attempts        int64
hint_used             int64
count_hints           int64
earned_proficiency    int64
points_earned         int64
week                  int64
dtypes: datetime64[ns](1), int64(12)
memory usage: 2.3 GB

user_id
0    0
1    0
2    0
3    0
4    0
Name: time_done, dtype: object

In [ ]:
usage_by_week = data.groupby(['user_id']).mean().sort_values(by=['user_id'], ascending=[True])

In [61]:
usage_by_week = data.groupby(['user_id', 'week']).mean().sort_values(by=['user_id','week'], ascending=[True,True])

In [103]:
usage_by_week.head()

,,topic_mode,suggested,review_mode,time_taken,correct,count_attempts,hint_used,count_hints,earned_proficiency,points_earned
user_id,week,,,,,,,,,,
0,45,0.000000,0.875000,0.0,18.125000,0.875000,1.250000,0.125000,0.125000,0.000000,196.875000
1,14,0.333333,0.555556,0.0,14.740741,0.740741,1.555556,0.074074,0.518519,0.074074,141.444444
2,28,0.589744,0.564103,0.0,27.102564,0.923077,1.769231,0.076923,0.102564,0.076923,159.000000
3,35,0.005495,0.076923,0.0,28.752747,0.917582,1.093407,0.016484,0.065934,0.027473,30.032967
4,8,0.000000,0.625000,0.0,7.750000,1.000000,1.000000,0.000000,0.000000,0.125000,145.500000

In [108]:
usage_by_week.head()

,,topic_mode,suggested,review_mode,time_taken,correct,count_attempts,hint_used,count_hints,earned_proficiency,points_earned
user_id,week,,,,,,,,,,
0,45,0.000000,0.875000,0.0,18.125000,0.875000,1.250000,0.125000,0.125000,0.000000,196.875000
1,14,0.333333,0.555556,0.0,14.740741,0.740741,1.555556,0.074074,0.518519,0.074074,141.444444
2,28,0.589744,0.564103,0.0,27.102564,0.923077,1.769231,0.076923,0.102564,0.076923,159.000000
3,35,0.005495,0.076923,0.0,28.752747,0.917582,1.093407,0.016484,0.065934,0.027473,30.032967
4,8,0.000000,0.625000,0.0,7.750000,1.000000,1.000000,0.000000,0.000000,0.125000,145.500000

In [119]:
cut_off = pd.datetime(2014, 6, 30)

In [121]:
predictor = users['time_done'].max() > cut_off

In [ ]:
data[]

In [122]:
rng = (users['time_done'].max() - users['time_done'].min()).dt.days

In [125]:
<= cut_off

TypeError: '<=' not supported between instances of 'SeriesGroupBy' and 'datetime.datetime'

In [128]:
new_data = (data[(data['time_done']>='1/1/2014')& (data['time_done']<='6/30/2014')])

In [129]:
len(new_data)

9707597

In [141]:
users.mean()

,topic_mode,suggested,review_mode,time_taken,correct,count_attempts,hint_used,count_hints,earned_proficiency,points_earned,week
user_id,,,,,,,,,,,
0,0.000000,0.875000,0.000000,18.125000,0.875000,1.250000,0.125000,0.125000,0.000000,196.875000,45.000000
1,0.333333,0.555556,0.000000,14.740741,0.740741,1.555556,0.074074,0.518519,0.074074,141.444444,14.000000
2,0.589744,0.564103,0.000000,27.102564,0.923077,1.769231,0.076923,0.102564,0.076923,159.000000,28.000000
3,0.005495,0.076923,0.000000,28.752747,0.917582,1.093407,0.016484,0.065934,0.027473,30.032967,35.000000
4,0.000000,0.625000,0.000000,7.750000,1.000000,1.000000,0.000000,0.000000,0.125000,145.500000,8.000000
5,1.000000,0.572581,0.000000,10.774194,0.846774,1.217742,0.056452,0.056452,0.096774,174.895161,23.000000
6,0.200000,0.600000,0.000000,32.600000,0.800000,1.000000,0.000000,0.000000,0.000000,180.000000,48.000000
7,0.000000,0.000000,0.000000,213.000000,0.000000,1.833333,1.000000,3.166667,0.000000,0.000000,43.000000
8,0.639130,0.352174,0.000000,6.956522,0.834783,1.204348,0.034783,0.230435,0.069565,125.404348,27.208696
9,0.486667,0.133333,0.000000,19.066667,0.733333,1.673333,0.060000,0.133333,0.033333,114.146667,30.920000
10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,3.000000,0.000000,0.000000,39.000000
11,0.000000,0.000000,0.000000,2.875000,0.875000,1.250000,0.000000,0.000000,0.125000,50.375000,44.000000
12,0.000000,0.000000,0.000000,36.750000,1.000000,1.000000,0.000000,0.000000,0.125000,51.750000,51.000000
13,1.000000,1.000000,0.000000,19.000000,1.000000,1.000000,0.000000,0.000000,0.000000,225.000000,26.000000
14,0.000000,0.000000,0.000000,17.500000,0.750000,1.750000,0.000000,0.000000,0.000000,56.250000,40.000000
15,0.000000,0.000000,0.000000,4.000000,1.000000,1.000000,0.000000,0.000000,0.000000,75.000000,22.000000
16,0.333333,0.000000,0.000000,129.416667,0.875000,1.083333,0.083333,0.125000,0.041667,78.166667,7.000000
17,0.027624,0.080110,0.030387,19.629834,0.754144,1.469613,0.160221,0.698895,0.046961,50.121547,48.950276
19,0.000000,0.000000,0.000000,6.375000,1.000000,1.000000,0.000000,0.000000,0.125000,51.750000,30.000000
20,0.000000,0.000000,0.000000,63.000000,1.000000,1.000000,0.000000,0.000000,0.000000,75.000000,34.000000
21,0.191781,0.500000,0.000000,9.856164,0.924658,1.130137,0.041096,0.130137,0.068493,124.787671,51.643836
22,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,40.000000
23,0.118110,0.204724,0.000000,35.464567,0.763780,1.421260,0.114173,0.625984,0.039370,74.897638,46.866142
24,0.000000,0.000000,0.000000,287.000000,1.000000,1.000000,0.000000,0.000000,0.000000,75.000000,37.000000
25,1.000000,0.000000,0.000000,17.000000,0.000000,19.000000,0.000000,0.000000,0.000000,0.000000,31.000000
26,0.000000,0.000000,0.000000,7.000000,1.000000,1.000000,0.000000,0.000000,0.000000,75.000000,3.000000
27,0.000000,0.000000,0.000000,9.000000,0.000000,7.000000,0.000000,0.000000,0.000000,0.000000,38.000000
28,0.888889,0.111111,0.000000,6.444444,0.777778,1.111111,0.111111,0.333333,0.000000,175.000000,28.000000
29,0.500000,0.500000,0.000000,46.000000,0.500000,1.500000,0.000000,0.000000,0.000000,112.500000,7.000000
30,0.148148,0.666667,0.000000,14.777778,0.777778,1.703704,0.074074,0.074074,0.037037,151.444444,43.000000
...,...,...,...,...,...,...,...,...,...,...,...
247574,0.000000,0.000000,0.000000,45.142857,0.714286,1.428571,0.000000,0.000000,0.000000,53.571429,44.000000
247575,0.000000,0.625000,0.000000,7.750000,1.000000,1.000000,0.000000,0.000000,0.125000,145.500000,48.000000
247576,0.139860,0.113886,0.031968,11.157842,0.859141,1.301698,0.041958,0.190809,0.057942,71.038961,45.088911
247577,0.000000,0.000000,0.000000,302.000000,0.500000,2.000000,0.000000,0.000000,0.000000,37.500000,41.000000
247578,0.818182,0.000000,0.000000,13.545455,0.704545,1.454545,0.045455,0.295455,0.000000,148.295455,9.000000
247579,0.032143,0.203571,0.085714,13.303571,0.932143,1.060714,0.032143,0.150000,0.067857,66.628571,14.371429
247580,0.529412,0.352941,0.000000,12.117647,0.823529,1.470588,0.000000,0.000000,0.088235,138.176471,11.000000
247581,0.000000,0.000000,0.000000,19.357143,0.035714,1.071429,0.964286,6.250000,0.000000,50.892857,11.000000
247582,0.111111,0.555556,0.000000,18.666667,1.000000,1.000000,0.000000,0.000000,0.111111,154.333333,42.000000
247583,0.000000,0.000000,0.000000,55.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,39.000000
247584,1.000000,0.000000,0.000000,16.384615,0.846154,1.000000,0.076923,0.076923,0.076923,174.923077,40.000000
247585,0.500000,0.312500,0.000000,36.750000,0.750000,1.750000,0.187500,0.437500,0.062500,142.312500,43.000000
247586,1.000000,0.400000,0.000000,42.266667,0.600000,1.866667,0.200000,0.533333,0.000000,135.000000,49.000000
247587,0.000000,0.000000,0.000000,32.473684,0.842105,1.000000,0.157895,0.263158,0.052632,52.578947,36.000000
247589,0.201342,0.348993,0.000000,8.080537,0.885906,1.281879,0.006711,0.006711,0.060403,104.926174,3.409396
247590,1.000000,0.000000,0.000000,6.200000,0.800000,0.800000,0.200000,0.200000,0.000000,180.000000,51.000000
247591,1.000000,0.750000,0.000000,8.500000,0.875000,1.000000,0.125000,0.125000,0.000000,196.875000,5.000000
247592,1.000000,0.294118,0.000000,24.941176,0.588235,2.294118,0.352941,1.117647,0.000000,132.352941,42.000000
247594,0.157895,0.210526,0.000000,12.592105,0.914474,1.098684,0.026316,0.078947,0.065789,90.947368,41.736842
247595,0.000000,0.000000,0.000000,40.812500,0.968750,1.031250,0.000000,0.000000,0.093750,45.437500,42.000000
247596,0.000000,0.000000,0.000000,1.375000,1.000000,1.000000,0.000000,0.000000,0.125000,51.750000,50.000000
247597,0.242857,0.185714,0.000000,17.214286,0.442857,1.200000,0.471429,2.642857,0.000000,61.000000,39.742857
247598,0.680000,0.200000,0.000000,41.400000,0.820000,1.480000,0.040000,0.200000,0.100000,147.180000,31.000000
247599,1.000000,0.000000,0.000000,159.500000,0.500000,3.000000,0.500000,1.500000,0.000000,112.500000,14.000000
247600,0.000000,0.446078,0.000000,12.414216,0.946078,1.061275,0.004902,0.007353,0.080882,108.713235,47.333333
247601,0.000000,0.000000,0.000000,21.727273,0.727273,1.090909,0.272727,1.363636,0.090909,37.636364,41.000000
247602,0.545918,0.244898,0.000000,29.433673,0.867347,1.168367,0.015306,0.056122,0.051020,124.637755,16.928571
247603,0.000000,0.000000,0.000000,26.000000,1.000000,1.000000,0.000000,0.000000,0.000000,75.000000,29.000000
247604,0.246154,0.338462,0.000000,11.738462,0.907692,1.169231,0.046154,0.061538,0.076923,105.246154,47.600000
247605,0.000000,0.000000,0.000000,138.000000,0.000000,2.000000,1.000000,3.000000,0.000000,0.000000,46.000000